/* You can add global styles to this file, and also import other style files */
@import "modern-normalize/modern-normalize.css";
@import "@cds/core/global.min.css";
@import "@cds/core/styles/theme.dark.min.css";
@import "@clr/ui/clr-ui.min.css";

.nav {
  justify-content: center;
  height: 3rem;
  border: none !important;
  box-shadow: none;
}

.nav .nav-item {
  padding: 0.5rem;
}

.employee-node-container {
  height: 150px;
  width: 300px;
  border: 1px solid black;
}

.employee-card-name {
  font-weight: 500;
  font-size: medium;
}

.employee-card-header {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 0.2rem;
  padding-bottom: 0.2rem;
}

.employee-card-details {
  display: flex;
  justify-content: space-between;
}

.employee-card-settings {
  border: none;
  padding: 0 !important;
  margin: 0;
  height: 1rem !important;
  color: white;
}

.employee-card-photo {
  height: 90px;
  width: 90px;
  margin-top: 10px;
  margin-left: 10px;
}

.employee-card-detail {
  margin: 10px;
  font-size: small;
}

.branding {
  font-size: large;
  line-height: 2.9rem;
}

.branding-icon {
  margin: 1rem 0.2rem 1rem 1rem;
}
